
* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    scroll-behavior: smooth !important; 
    
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  .carousel-inner{
    width: 100%;
    scroll-behavior: smooth;
    
  }
  #carousel-item{
    height: 100vh;
    width: 100%;
    background-image: url(background_images/fondo_patron.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }
  #spacer1 {
    width: 100%;
    height: 100vh;
    background: #f70000;
    margin: 0;
    padding: 0;
    background-image: url(background_images/degradado.jpg);
    z-index: 30;
    position: relative;
  }
  #spacer2 {
    width: 100%;
    height: 200vh;
    background: #0010f7;
    margin: 0;
    padding: 0;
    background-image: url(background_images/fondo_marrón.jpg);
  }
  #header{
    width: 100%;
    height: 150px;
    
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    
    /* padding-bottom: 20px; */
  }
  #header-content{
    background-color: #ffdca7;
    opacity: 80%;
    height: 100px;
    width: 85%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 20px;
    padding-right: 20px; */
    box-shadow:  0px 5px 4px rgba(0, 0, 0, 0.438);
    position: relative;
    z-index: 20;
}
#logo{
    font-family: "Asap Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin-left: 30px;
    
}
#logo a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
#options-header{
    display: flex;
    align-items: end;
}
#boton_login{
    font-family: "Asap Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    cursor: pointer;
    margin-right: 30px;  
}
#hamb{
    margin-right: 15px;
}
#hamb2{
    display: none;
    margin-right: 15px;
}
#hamb path, #hamb2 path {
    transition: .3s;
}
 
#hamb path:hover {
    fill:orange
}
#hamb2 path:hover {
    fill:orange
}
#extension{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    transition: .3s;
    transition: 0.3s;
}
#hamb-options-header{
    background-color: #B29569;
    display: flex;
    z-index: 10;
    opacity: 80%;
    height: 50px;
    width: 85%;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.5s;  
}
#hamb-options-header.mostrar{
    display: flex;
    opacity: 1;
    transform: translateY(0px);
}

.index{
    display: none;
}
.index2 {
    display: block;
    font-family: "Asap Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 23px;
    margin-right: 20px;
    cursor: pointer;
}

.index2 a{
    text-decoration: none;
    transition: .3s;
    color: black;
}
.index2 a:hover {
    color: orange;
}
.section{
    height: 100vh;
}
#spacer2{
    position: relative;
    background-color: green;
}
#sol-container{
    display: flex;
    justify-content: center;
    z-index: 10;

}
#sol{
    position: absolute;
    z-index: 10;
    bottom: 1000px;
   
}
#img1{
    position: absolute;
    z-index: 10;
    bottom: 250px;
    left: 0;
}
#img2{
    position: absolute;
    z-index: 20;
    bottom: 20px;
    right: 0px;
}
#img3{
    position: absolute;
    z-index: 30;
    bottom: 0px;
    left: 0;
}



@media screen AND (min-width:900px) {
    #header-content {
            width: 75%;
        }
    
        #hamb-options-header{
            display: none;
        }
    
        .index {
            display: block;
            font-family: "Asap Condensed", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 23px;
            margin-right: 20px;
            cursor: pointer;
    
        }
    
        .index a {
            text-decoration: none;
            transition: .3s;
            color: black;
        }
    
        .index a:hover {
            color: orange;
        }
    
        #hamb svg, #hamb2 svg {
            display: none;
        }

        #extension{
            display: none;
        }
    
        /* background-color: green; */
}
@media screen AND (min-width:1600px) {
    #header-content{
        width: 70%;
        /* background-color: red; */
    }
    #logo{
        margin-left: 50px;
    }
    #boton_login{
        margin-right: 50px;
    }
    .index{
        margin-right: 30px;
        font-size: 25px;
    }
}



#form_login_inicio_sesion{
    position: fixed;
    left:0;
    top: 0;
    display: none;
    /* display: flex; */
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#div_registro,#div_iniciar_sesion{
    display: flex;
    align-items: center;
    justify-content: center;
}
#div_registro{
    background-color: black;
    color: white;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
#div_iniciar_sesion{
    flex-grow: 1;
    background-color: gray;
    color: white;
    height:  100vh;
    width: 100vh;
    transition: all 0.5s;
}

#expandir_login,#expandir_registro{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#expandir_registro{
    background-color: gray;
    display: none;
    position: absolute;
    top: 10px;
    right: 170px;
    transition: all 1s;
}
#expandir_login{
    background-color: black;
    position: absolute;
    left: 190px;
    top: 20px;
}
#form_registro{
    display: none;
}

.cerrar_modal_login{
    cursor: pointer;
    color: white;
}
.cerrar_modal_login:hover{
    color: red;
}
#iniciar_sesion_google{
    cursor: pointer;
}
#iniciar_sesion_google:hover{
    color: yellow;
}






/* body{
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "zh  zh" "zn  zs"   "zf  zf";
    z-index: 1;
}
header{
    grid-area: zh;
    background-color: rgb(0, 0, 0);
    color: white;

}

#boton_login:hover{
    background-color: blanchedalmond;
    color: black;
}
section{
    grid-area: zs;
    background-color: rgba(255, 255, 255, 0.726);
    
}
nav{
    grid-area: zn;
    background-color: rgb(22, 20, 20);
}
footer{
    grid-area: zf;
    background-color: rgb(0, 0, 0);
} */
