#opt_perfil{
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
    background-color: #AC886E;
    width: 120px;
    font-weight: bold;
    color: #41270D;
}
#opt_perfil>div{
    padding: 3px 7px;
}
#opt_perfil>div:hover{
    background-color: rgba(0, 0, 0, 0.177);
}