* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Asap Condensed", sans-serif;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  .carousel-inner{
    width: 100%;
  }
  .carousel-item{
    height: 100vh;
    width: 100%;
    background-image: url(background_images/fondo_patron.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }
  .spacer1 {
    width: 100%;
    height: 100vh;
    background: #f70000;
    margin: 0;
    padding: 0;
    background-image: url(background_images/degradado.jpg);
  }
  .spacer2 {
    width: 100%;
    height: 200vh;
    background: #0010f7;
    margin: 0;
    padding: 0;
    background-image: url(background_images/fondo_marrón.jpg);
  }
  #header{
    width: 100%;
    height: 150px;
    
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    padding-bottom: 20px;
  }
  #header-content{
    background-color: #ffdca7;
    opacity: 80%;
    height: 100px;
    width: 85%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 20px;
    padding-right: 20px; */
    box-shadow:  0px 5px 4px rgba(0, 0, 0, 0.438);
    
}
#logo{
    font-family: "Asap Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin-left: 30px;
}
#options-header{
    display: flex;
    align-items: end;
}
#boton_login{
    font-family: "Asap Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    cursor: pointer;
    margin-right: 30px;  
}
#hamb{
    margin-right: 15px;
}
.index{
    display: none;
}
/* ---------------------------- Responsive ---------------------------- */
@media screen AND (min-width:900px) {

    #header-content{
        width: 75%;
    }
        .index{
            display: block;
            font-family: "Asap Condensed", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 23px;
            margin-right: 20px;
        }
        #hamb{
            display: none;
        }
        /* background-color: green; */
   
}
@media screen AND (min-width:1600px) {
    #header-content{
        width: 70%;
        /* background-color: red; */
    }
    #logo{
        margin-left: 50px;
    }
    #boton_login{
        margin-right: 50px;
    }
    .index{
        margin-right: 30px;
        font-size: 25px;
    }
}


/*------------------- Modal Inicio de sesion y Registro ------------------- */
#form_login_inicio_sesion{
    position: fixed;
    left:0;
    top: 0;
    display: none;
    /* display: flex; */
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#div_registro,#div_iniciar_sesion{
    display: flex;
    align-items: center;
    justify-content: center;
}
#div_registro{
    background-color: rgb(145, 110, 3);
    color: white;
    height: 100vh;
    width: 0px;
    transition: all 0.5s;
}
#div_iniciar_sesion{
    flex-grow: 1;
    background-image: url('background_images/fond_gris_login.png');
    background-color:   rgb(145, 110, 3) ;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height:  100vh;
    width: 100vh;
    transition: all 0.5s;
}

#expandir_login,#expandir_registro{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#expandir_registro{
    display: none;
    position: absolute;
    top: 20px;
    right: 220px;
    transition: all 1.5s;
}
#expandir_login{
    position: absolute;
    left: 220px;
    top: 20px;
}
#form_registro{
    display: none;
}
#form_registro,#form_login{
    text-align: center;
}
.Titulo_de_Forms {
    font-size: 49px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
    
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
#btn-login {
    width: 380px;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
}
#btn-login{
    margin-top: 15px;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.cerrar_modal_login {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

.cerrar_modal_login:hover {
    color: #0056b3;
}
#home{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    height: 35px;
}
#tengo_cuenta{
    cursor: pointer;
}
#tengo_cuenta:hover{
    color: blue;
}
.linia_or{
    margin: 20px 0 20px 0;
}
input {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease; 
}
input:focus {
    outline: none;
    border: 1px solid transparent;
    background-color: #bed0e3;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); 
}
.g-signin2{
    text-align: center;
    width: 120px;
    border-radius: 5px;
    margin-left: 35%;
    margin-bottom: 20px;
}
/* -------------------------------------------------------------------------------------------------- */



