* {
    margin: 0;
    padding: 0;
    font-family: "Asap Condensed", sans-serif;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
a {
    text-decoration: none;
    color: inherit;
}
body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
        "zh zh" "zs zs";
}
header{
    grid-area: zh;
    background-color: #F3BF99;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
#titulo_app{
    margin: 20px;
    font-weight: bold;
}
#titulo_panel{
    font-size: 22px;
    margin-left: 60px;
    font-weight: bold;
    margin-top: 5px;
}
#foto_perfil{
    position: absolute;
    right: 10px;
    top: 8px;
}
section{
    grid-area: zs;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3bf996c;
}
#div_cont{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #F3BF99;
    height: 463px;
    width: 895px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}