* {
    margin: 0;
    padding: 0;
    font-family: "Asap Condensed", sans-serif;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
a {
    text-decoration: none;
    color: inherit;
}
body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
        "zh zh" "zs zs";
}
header{
    grid-area: zh;
    background-color: #F3BF99;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
#titulo_app{
    margin: 20px;
    font-weight: bold;
}
#titulo_panel{
    font-size: 22px;
    margin-left: 60px;
    font-weight: bold;
    margin-top: 5px;
}
#foto_perfil{
    position: absolute;
    right: 10px;
    top: 8px;
}
section{
    grid-area: zs;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3bf996c;
}
#div_cont{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #F3BF99;
    height: 600px;
    width: 980px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    grid-area: zs;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3bf996c;
}
#div_cont_herramientas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #F3BF99;
    height: 463px;
    width: 950px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
#tit_div_cont_herramientas{
    font-weight: bold;
    font-size: 22px;
    width: 100%;
    margin: 15px 0 15px 25px;
}
#her_profesor_particular,#her_generador_apuntes{
    background-color: #FFEDDC;
    font-weight: bold;
    font-size: 18px;
    height: 350px;
    width: 260px;
    margin: 5px 20px 30px 25px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease,scale 0.2s; 
}
.tit_heramienta{
    width: 100%;
    text-align: center;
    margin: 60px 0 0 0;
}
.foto_herramienta{
    width: 40%;
}
#her_profesor_particular:hover,#her_generador_apuntes:hover{
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    scale: 1.0105;
}
#diocles_foto{
    margin-top: 60px;
    align-content: center;
    display: flex;
    justify-content: center;
}
#arquimedes_foto{
    margin-top: 60px;
    align-content: center;
    display: flex;
    justify-content: center;
}